<p>
  sudoku works!
</p>
<form [formGroup]="sudokuForm" *ngIf="unSolvePuzzle" novalidate>
    <table>
        <tr *ngFor="let row of unSolvePuzzle,let i= index">
            <td *ngFor="let col of row,let j= index" [ngClass]="{rightBorder:((j+1)%3)==0,bottomBorder:((i+1)%3)==0}">
                <input type="text" [value]="col" maxlength="1" max="9" min="1">                
            </td>
        </tr>
    </table>
    <button (click)="changeLevel()">New Puzzle</button>
    <select formControlName="level" (change)="changeLevel()">
        <option [value]="13">Easy</option>
        <option [value]="18">Medium</option>
        <option [value]="22">Hard</option>
    </select>
</form>
<!--<form>
    <table>
        <tr *ngFor="let row of puzzle,let i= index">
            <td *ngFor="let col of row,let j= index" [ngClass]="{rightBorder:((j+1)%3)==0,bottomBorder:((i+1)%3)==0}">
                <input type="text" [value]="col" maxlength="1" max="9" min="1">                
            </td>
        </tr>
    </table>
</form>-->
